<div class = "page-flex-2">
    <div class = "board_games_2">
        <form action="/inventory/edit/{{board_game.id}}" method="post">
            <li>
                <label for="name"></label>
                <input type="text" id="name" name="name" value="{{board_game.name}}"><br>      
            </li>
            <li>
                <label for="description">Description: </label>
                <input type="text" id="description" name="description" value="{{board_game.description}}"><br>
            </li>
            <li>
                <label for="quantity">Quantity: </label>
                <input type="number" id="quantity" name="quantity" value="{{board_game.quantity}}"><br>
            </li>
            <li>
                <label for="cost">Cost: </label>
                <input type="numer" id="cost" name="cost" value="{{board_game.buying_cost}}"><br>
            </li>
            <li>
                <label for="selling_price">Selling Price: </label>
                <input type="number" id="selling_price" name="selling_price" value="{{board_game.selling_price}}"><br>
            </li>
            <li>
                <label for="manufacturer">Manufacturer: </label>
                <select id="manufacturer" name="manufacturer">
                    {% for manufacturer in manufacturers %}
                        <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
                    {% endfor %}
                </select><br>
            </li>
            <li>
                <input type="submit" value="Update"><br>
            </li>
        </form>
    </div>
</div>