{% extends 'base.html' %}

{% block content %}
<div class = "board_games">
    <form action="/inventory/edit/{{board_game.id}}" method="post">
        <div class="same-line">
            <li>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" value="{{board_game.name}}">
                <div class = "low-stock">
                    {% if (board_game.quantity <=3) and (board_game.quantity >0)%}
                        <p>Low Stock</p>
                    {% endif %}
                </div>
                <div class = "out-of-stock">
                    {% if board_game.quantity == 0 %}
                        <p>Out of Stock</p>
                    {% endif %}
                </div>
            </li>
        </div>
        <li>
            <label for="description">Description: </label>
            <input type="text" id="description" name="description" value="{{board_game.description}}">
        </li>
        <li>
            <label for="quantity">Quantity: </label>
            <input type="number" id="quantity" name="quantity" value="{{board_game.quantity}}">
        </li>
        <li>
            <label for="cost">Cost: </label>
            <input type="numer" id="cost" name="cost" value="{{board_game.buying_cost}}">
        </li>
        <li>
            <label for="selling_price">Selling Price: </label>
            <input type="number" id="selling_price" name="selling_price" value="{{board_game.selling_price}}">
        </li>
        <li>
            <label for="manufacturer">Manufacturer: </label>
            <select id="manufacturer" name="manufacturer">
                {% for manufacturer in manufacturers %}
                    <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
                {% endfor %}
                </select>
        </li>
        <li>
            <input type="submit" value="Update">
        </li>
    </form>
</div>
{% endblock  %}