{% extends 'base.html' %}
{% block content %}

<div id= "inventory-front-page">
   
    {% for game in board_games %}
    {% if game.id == id %}
    
        {% include 'board_games/show.html' %}

    {% else %}
    <div class = "board_games">
        <ul>
            <div class="same-line">
                    <a href="/inventory/{{game.id}}">{{game.name}}</a>
                        <div class = "low-stock">
                            {% if (game.quantity <=3) and (game.quantity >0)%}
                                Low Stock
                            {% endif %}
                        </div>
                        <div class = "out-of-stock">
                            {% if game.quantity == 0 %}
                                Out of Stock
                            {% endif %}
                            </div>
            </div>
            <li>{{game.manufacturer.name}}</li>
        </ul>
    </div>
    {% endif %}
        
    {% endfor %}
    
</div>

{% endblock %}

