<div class="page-flex-2">
    <div class = "board_games_2">
        <ul>
            <div class="same-line">
                <li>{{board_game.name}} </li>   
                <div class = "low-stock">
                    {% if (board_game.quantity <=3) and (board_game.quantity >0)%}
                        Low Stock
                    {% endif %}
                </div>
                <div class = "out-of-stock">
                    {% if board_game.quantity == 0 %}
                        Out of Stock
                    {% endif %}
                </div> 
            </div>
            <li>Manufacturer: <a href="/manufacturers/{{board_game.manufacturer.id}}">{{board_game.manufacturer.name}}</a></li>
            <li>Description: {{board_game.description}}</li>
            <li>Quantity: {{board_game.quantity}}</li>
            <li>Cost: {{board_game.buying_cost}}</li>
            <li>Selling Price: {{board_game.selling_price}}</li>
            <li>
                <div class="edit-delete">
                    <a href="/inventory/edit/{{board_game.id}}">Edit</a> <br>
                    <a href="/inventory/delete/{{board_game.id}}">Delete</a>
                </div>
            </li>
        </ul>
        
    </div>
</div>