{% extends 'base.html' %}
{% block content %}

<div class = "board_games">
    <ul>
        <li>Name: {{board_game.name}}</li>
        <li>Description: {{board_game.description}}</li>
        <li>Quantity: {{board_game.quantity}}</li>
        <li>Cost: {{board_game.buying_cost}}</li>
        <li>Selling Price: {{board_game.selling_price}}</li>
        <li>Manufacturer: {{board_game.manufacturer.name}}</li>
        <div class = "out-of-stock">
            {% if board_game.quantity <=3 %}
                <p>Low Stock</p>
            {% endif %}
            {% if board_game.quantity == 0 %}
                <p>Out of Stock</p>
            {% endif %}
        </div>
    </ul>
</div>
    
{% endblock  %}