{% extends 'base.html' %}
{% block content %}



<div id= "inventory-front-page">
    <h1>Manufacturers</h1>
    {% for manufacturer in all_manufacturers %}

        {% if manufacturer.id == id %}
            
            {% include 'manufacturers/show.html' %}

        {% else %}
            <div class = "board_games">
                <ul>
                    <li><a href="/manufacturers/{{manufacturer.id}}">{{manufacturer.name}} </a></li>
                    <li>Contact details: {{manufacturer.contact_details}}</li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}