<div class="page-flex-2">
    <div class = "board_games_2">
        <ul>
            <li>{{manufacturer.name}}</li>   
            <li>Contact details: {{manufacturer.contact_details}}</li>
            <li>Board Games: </li>
            {% for name in manufacturer_name %}
                <li>{{name}}</li>
            {% endfor %}
            <li>
                <div class="edit-delete">
                    <a href="/manufacturers/edit/{{manufacturer.id}}">Edit</a> <br>
                    <a href="/manufacturers/delete/{{manufacturer.id}}">Delete</a>
                </div>
            </li>
        </ul>
    </div>
</div>