/* Background base.html */

body {
    margin: 0;
}

.main-body {
    display: flex;
    align-self: flex-start;
    margin:0;
}

/* Header base.html */

body > header > h1 {
    font-family: Helvetica;
    color: rgb(151, 151, 209);
    padding:0 5vh;
}

#header-links {
    font-family: Helvetica;
    background-color: rgb(153, 153, 153);
    padding:0 0 100vh 0;
    margin:0;
    width: 30vh;
}

/* #header-links > ul {
    padding:none;
    margin:none;
} */

#header-links > ul > li {
    list-style-type:none;
    padding:2vh 0;
}

#header-links > ul > li > a {
    color: white;
    text-decoration: none;
}

/* inventory.html & board_games/show.html */

.out-of-stock {
    color: red;
    padding:0 10px;
    font-weight: bolder;
}

.low-stock {
    color: rgb(255, 136, 0);
    padding:0 10px;
    font-weight: bolder;
}

.same-line {
    display: flex;
    flex-wrap: wrap;
}

.same-line > li {
    list-style-type: none;
}

.page-flex {
    margin:0 10vh 0 10vh;
    /* padding: 0 50vh 0 50px; */
    display: flex;
    /* border: solid black 1px; */
    /* height: 50vh;
    overflow: hidden; */
}

.page-flex-2 {
    display: flex;
}

.board_games > ul > li {
    list-style-type: none;
    padding: 1vh 0;
}

.board_games > ul {
    font-family: Helvetica;
    width: 100vh;
    margin:0 10vh 0 10vh;
    height: auto;
    padding: 2vh;
    border-bottom: solid black 1px;;
}

.board_games > ul > li > a {
    color: black;
    font-weight: bolder;
}

.same-line > a {
    color: black;
    font-weight: bolder;
    /* text-decoration: none; */
}

.same-line > li {
    font-weight: bolder;
}

.edit-delete {
    display: flex;
    font: helvetica;
}

.edit-delete > a{
    color: darkblue;
    margin: 0 10px 0 0;
}

.board_games_2 > ul {
    font-family: Helvetica;
    width: 100vh;
    margin:0 10vh 0 10vh;
    height: auto;
    padding: 2vh;
    border: solid rgb(34, 66, 168) 1px;
    background-color: rgba(125, 155, 255, 0.144);
}

.board_games_2 > ul > li {
    list-style-type: none;
    padding: 1vh 0;
}

#inventory-front-page > h1 {
    font-family: helvetica;
    margin:0 10vh 0 10vh;
    color: rgb(151, 151, 209);
    text-decoration: underline rgba(0, 0, 0, 0.424) 2px;
    padding:0 1.8vh;
}

/* Edit and Add */

.board_games_2 > form {
    font-family: helvetica;
    width: 100vh;
    margin:0 10vh 0 10vh;
    height: auto;
    padding: 2vh;
    border: solid rgb(34, 66, 168) 1px;
    background-color: rgba(125, 155, 255, 0.144);
}

.board_games_2 > form >li {
    list-style-type: none;
    padding: 1vh 0;
}

.board_games_2 > form >li > input{
    border: none;
    padding:2px 20px;
    font-weight: bolder;
    font-family: helvetica;
}

.board_games_2 > form >li > input[type="submit"]{
    border: none;
    padding:10px 20px;
    font-weight: bolder;
    font-family: helvetica;
}

.board_games_2 > form >li > select{
    border: none;
    padding:2px 20px;
    font-weight: bolder;
    font-family: helvetica;
}