/* Background base.html */

body {
    margin: 0;
}

.main-body {
    display: flex;
    align-self: flex-start;
    margin:0;
}

/* Header base.html */

body > header > h1 {
    font-family: Helvetica;
    padding:0 5vh;
}

#header-links {
    font-family: Helvetica;
    background-color: rgb(153, 153, 153);
    padding:0 0 100vh 0vh;
    margin:0;
    width: 30vh;
}

/* #header-links > ul {
    padding:none;
    margin:none;
} */

#header-links > ul > li {
    list-style-type:none;
    padding:2vh 0;
}

#header-links > ul > li > a {
    color: white;
    text-decoration: none;
}

/* inventory.html & board_games/show.html */

.out-of-stock {
    color: red;
    margin:0 10px;
    font-weight: bolder;
}

.low-stock {
    color: rgb(255, 136, 0);
    margin:0 10px;
    font-weight: bolder;
}

.same-line {
    display: flex;
}

.same-line > li {
    list-style-type: none;
}

.page-flex {
    margin:0 10vh 0 10vh;
    /* padding: 0 50vh 0 50px; */
    display: flex;
    /* border: solid black 1px; */
    /* height: 50vh;
    overflow: hidden; */
}

.page-flex-2 {
    display: flex;
}

.board_games > ul > li {
    list-style-type: none;
    padding: 1vh 0;
}

.board_games > ul {
    font-family: Helvetica;
    width: 100vh;
    margin:0 10vh 0 10vh;
    height: auto;
    padding: 2vh;
    border-bottom: solid black 1px;;
}

.same-line > a {
    color: black;
    font-weight: bolder;
    /* text-decoration: none; */
}

