<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Board Game Inventory</title>
</head>
<body>
    <header>
        <h1>Board Game Inventory</h1>
        <div id = "header-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/inventory">Full View</a></li>
                <li><a href="/manufacturers">Manufacturers</a></li>
            </ul>
        </div>
    </header>
    <div id="page-flex">
        <div class = "index">
            {% block index %}
                
            {% endblock  %}
        </div>
        <div class = "container">
            {% block content %}

            {% endblock  %}
        </div>
    </div>  
</body>
</html>